Configuration.cfg
*token*.json
/__pycache__
/*/__pycache__
.idea
*demo*
*temp*
*tmp*
/ocr_responses/
/annotated_images/
/processed_images_nn*/
/processed_images_zooniverse*/
/label_images/
/file_resources/*
/test_results/
