Configuration.cfg
*token*.json
/__pycache__
/*/__pycache__
.idea
*test*
*temp*
*tmp*
/gcv_responses/*
/processed_images/*
/processed_images_nn/
/processed_images_zooniverse/
/label_images/
/file_resources/test_images/
