Configuration.cfg
*token*.json
*demo*
*temp*
/ocr_responses/
/*_images/
/file_resources/
/test_results/
/archive/
/__pycache__/
/*/__pycache__/
/*/*/__pycache__/
.idea
/images/
/tmp/
/processed_images*/
/processed_images*/*
/imageprocessor_objects/
/images_standley/
/models_vertex_ai/